<div class="container m-5">
  <div class="ordem-compra" *ngIf="!id; else sucess">
    <form novalidate #formulario="ngForm" (ngSubmit)="comfirmarCompra()">
      <h5>Sua Compra</h5>
      <hr />
      <div *ngIf="cout > 0">
        <div
          class="row w-100"
          style="
            background: #fafafa;
            padding: 20px;
            border-bottom: solid 1px #f0f0f0;
          "
          *ngFor="let item of items"
        >
          <div class="form-group col-1">
            <img [src]="item.imagens[0].url" class="img-fluid" />
          </div>
          <div class="form-group col-6">
            {{ item.titulo }}
            <br />
            {{ item.descricao_oferta }}
          </div>

          <div class="col">
            <div class="row">
              <div class="col">
                <button
                  type="button"
                  class="btn btn-link"
                  (click)="diminuitCout(item.id)"
                >
                  -
                </button>
                {{ item.quantidade }}
                <button
                  type="button"
                  class="btn btn-link"
                  (click)="somarCout(item.id)"
                >
                  +
                </button>
              </div>
            </div>
          </div>

          <div class="form-group col-sm-3 d-flex justify-content-end">
            {{ item.quantidade * item.valor | currency : "BRL" }}
          </div>
        </div>

        <div class="row mt-3">
          <div class="form-group col d-flex justify-content-end">
            <h4>Total do pedido: {{ cout | currency : "BRL" }}</h4>
          </div>
        </div>
        <br />
      </div>

      <div *ngIf="cout <= 0" style="display: flex; justify-content: center">
        <p>Sua lista está vazia</p>
      </div>

      <h5>Dados de entrega</h5>
      <hr />

      <div class="row">
        <div class="form-group col-md-6">
          <input
            type="text"
            class="form-control"
            placeholder="Endereço"
            autocomplete="off"
            minlength="1"
            required
            name="Endereco"
            #inputEndereco="ngModel"
            ngModel
          />

          <small
            class="form-text text-danger"
            *ngIf="inputEndereco.invalid && inputEndereco.touched"
            >Endereço inválido</small
          >
        </div>

        <div class="form-group col-md-2">
          <input
            type="number"
            class="form-control"
            placeholder="Número"
            autocomplete="off"
            minlength="1"
            ngModel
            name="Numero"
            #inputNumero="ngModel"
            required
          />
          <small class="form-text text-success" *ngIf="inputNumero.valid"
            >Ok</small
          >
        </div>

        <div class="form-group col-md-4">
          <input
            type="text"
            class="form-control"
            placeholder="Complemento"
            autocomplete="off"
            required
            ngModel
            name="Complemento"
          />
        </div>
      </div>
      <br />

      <h5>Dados de pagamento</h5>
      <hr />

      <div class="form-row">
        <div class="form-group col-md-3">
          <select
            class="form-control"
            ngModel
            required
            #inputformPagamento="ngModel"
            name="formaPagamento"
          >
            <option value="">Selecione uma opção</option>
            <option value="dinheiro">Dinheiro</option>
            <option value="debito">Débito</option>
          </select>
          <small
            *ngIf="inputformPagamento.invalid && inputformPagamento.touched"
            class="form-text text-danger"
            >Forma de pagamento inválida</small
          >
        </div>
      </div>

      <hr />
      <button
        type="submit"
        class="btn btn-primary btn-lg"
        [disabled]="!formulario.valid || !verificationProduct"
      >
        Cofirmar compra
      </button>
    </form>
  </div>

  <ng-template #sucess>
    <app-ordem-compra-sucesso [idPedidoCompra]="id"></app-ordem-compra-sucesso>
  </ng-template>
</div>
