<div class="container">
  <div class="oferta" *ngIf="oferta">

    <div class="row">
      <div class="col">
        <h4>{{oferta.descricao_oferta}}</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="img_capa">
          <img [src]="oferta.imagens[0].url" />
        </div>

        <div class="thumbnails">
          <img [src]="oferta.imagens[1].url" />
          <img [src]="oferta.imagens[2].url" />
          <img [src]="oferta.imagens[3].url" />
        </div>
      </div>

      <div class="col-md-6">
        <div class="row">
          <div class="col text-center">
            <p>Por apenas</p>
          </div>

        </div>

        <div class="row">
          <div class="col text-center">
            <h1>{{oferta.valor | currency: 'BRL':true}}</h1>
          </div>
        </div>

        <div class="row">
          <div class="col text-center">
            <button type="button" class="btn btn-warning btn-lg">Adicionar ao carrinho</button>
          </div>
        </div>

      </div>

    </div>

  </div>
</div>
<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-como-usar"
      routerLink="como-usar" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Como usar</button>
    <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-onde-fica"
      routerLink="onde-fica" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Onde
      fica?</button>

  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <router-outlet></router-outlet>

</div>
<br><br>
